dist: focal
language: bash

addons:
  apt:
    packages:
      - wget
      - pkg-config

before_install:
  # install bazel
  - |
    wget https://github.com/bazelbuild/bazel/releases/download/3.6.0/bazel_3.6.0-linux-x86_64.deb
    sha256sum -c .travis/bazel_3.6.0-linux-x86_64.deb.sha256
    sudo dpkg -i bazel_3.6.0-linux-x86_64.deb
  # install buildozer
  - |
    mkdir bin
    wget https://github.com/bazelbuild/buildtools/releases/download/3.5.0/buildozer -O bin/buildozer
    chmod +x bin/buildozer


script:
  - export PATH=`pwd`/bin:$PATH
  - make test
  - make test-integration
