dist: focal
language: bash

addons:
  apt:
    packages:
      - wget
      - pkg-config

before_install:
  - wget https://github.com/bazelbuild/bazel/releases/download/3.6.0/bazel_3.6.0-linux-x86_64.deb
  - sha256sum -c .travis/bazel_3.6.0-linux-x86_64.deb.sha256
  - sudo dpkg -i bazel_3.6.0-linux-x86_64.deb

script:
  - uname -a

  # test
  - bazel run //test:update_deb_packages_for_test_images
  - bazel run //test/image:zsh
  - docker run -it --rm bazel/test/image:zsh zsh --version

  # integration test
  - bazel build //release:release_files
  - bash integration_test/patch_workspace.sh
  - cd integration_test

  - bazel run :update_deb_packages
  - grep zsh WORKSPACE
  - bazel run //image:zsh
  - docker run -it --rm bazel/image:zsh zsh --version
