dist: focal
language: bash

addons:
  apt:
    packages:
      - wget
      - pkg-config

before_install:
  - wget https://github.com/bazelbuild/bazel/releases/download/3.6.0/bazel_3.6.0-linux-x86_64.deb
  - sha256sum -c .travis/bazel_3.6.0-linux-x86_64.deb.sha256
  - sudo dpkg -i bazel_3.6.0-linux-x86_64.deb

script:
  - bazel build :release
  - |
    RELEASE_ARCHIVE_PATH=$(realpath bazel-bin/release.tar.gz)
    sed -i "s:RELEASE_FILE_LOCATION:$RELEASE_ARCHIVE_PATH:" integration_test/WORKSPACE
  - cd integration_test
  - bazel run :update_deb_packages
  - grep zsh WORKSPACE
  - bazel run //image:zsh
  - docker run -it --rm bazel/image:zsh -- zsh -c 'echo $SHELL'
